.footerContainer {
  background-color: rgb(35, 35, 35);
  color: white;
  text-transform: uppercase;
  font-size: 9px;
}
.items,
.left,
.right {
  display: flex;
  justify-content: space-around;
}

.items {
  width: 70%;
  margin: auto;
}
.left {
  flex: 2;
  padding: 4em;
}
.right {
  flex: 2;
  padding: 4em;
}
.center {
  flex: 1;
}
.center div {
  text-align: center;
  font-size: 24px;
  background-color: white;
  color: black;
}
