.iconContainer {
  background-color: rgba(35, 35, 35);
  height: 4.5em;
  position: relative;
  cursor: pointer;
}

.hamburger {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navContainer {
  height: 100%;
}
.options {
  height: calc(100% - 4.5em);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
}

.options div {
  position: relative;
  transform: rotate(-90deg);
  text-align: center;
  cursor: pointer;
  font-weight: 800;
  font-family: "Ysabeau", sans-serif;
}
