.navContainer {
  position: fixed;
  top: 5%;
  left: 2.5%;
  width: 4.5em;
  height: calc(90% + 5px);
  z-index: 998;
}
.titleContainer {
  position: fixed;
  top: 5%;
  right: 2.5%;
  font-size: 24px;
  padding: 1.5em;
  font-family: "Ysabeau", sans-serif;
  z-index: 998;
}
